body {
  color: #555
}

p {
  color: #555
}

section {
  padding: 60px 0;
  position: relative
}

::selection {
  background: #bf4f5d;
}

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

.text-400 {
  font-weight: 400!important
}

.title {
  display: inline-block;
  font-size: 2.9rem;
  font-weight: 100;
  padding: 10px 0;
  margin-bottom: 44px;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.2;
  color: #555;
  margin-top: 20px;
  letter-spacing: 0
}

.title span {
  font-size: 2.5rem
}

.intro-section {
  padding-top: 150px;
  color: #fff
}

.intro-section .logo,
.intro-section p {
  margin-bottom: 120px
}

@media (min-width:992px) {
  .intro-section {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
}

.skill-item {
  margin-bottom: 20px
}

.progress-title {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em
}

.progress {
  border-radius: 0
}

/* Navbar */

.nav-link {
  padding: .5rem 1rem
}

nav.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  border-bottom: 1px solid #e6e6e6
}

@media (max-width:991.98px) {
  nav.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

nav.navbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
  font-family: "Open Sans", serif;
  color: #bf4f5d;
}

nav.navbar a.nav-link {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 5px;
  color: #777;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 4px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: .875rem
}

@media (max-width:991.98px) {
  nav.navbar a.nav-link {
    padding-top: .7rem;
    padding-bottom: .7rem;
    border: none
  }
}

nav.navbar a.nav-link:hover {
  color: #333;
  border-top-color: #bf4f5d
}

@media (max-width:1199.98px) {
  nav.navbar a.nav-link:hover {
    color: #bf4f5d
  }
}

/* Footer */

footer.main-footer {
  padding: 60px 0;
  background: #222
}

footer.main-footer p.social a {
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  line-height: 45px;
  font-size: 1.3rem;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s
}

footer.main-footer p.social a.gplus {
  background-color: #c21f25
}

footer.main-footer p.social a.email {
  background-color: #4a7f45
}

footer.main-footer p {
  margin: 0;
  color: #eee;
  font-family: "Open Sans", serif;
  font-size: .9rem
}

/* Animations */

.animate {
  transform: translateX(150px);
  animation: animate__this 1.5s ease forwards;
}

.animate:nth-child(odd) {
  transform: translateY(150px);
}

@keyframes animate__this {
  to { transform: translateY(0); }
}

/* Terminal */

#terminal .row {
  background: #111;
}

#terminal html, #terminal body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#terminal body {
  font-size: 13pt;
  font-family: monospace;
  color: white;
  background-color: black;
}

#terminal #container {
  padding: .1em 1.5em 1em 1em;
  margin-left: 50px;
  margin-right: 135px;
}

#terminal #cmdline {
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}

#terminal #output {
  clear: both;
  width: 100%;
}

#terminal #prompt {
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#terminal .prompt-color {
  color: #bf4f5d;
}

#terminal .input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}
#terminal .input-line > div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

@media screen and (max-height: 450px) {
  #terminal body {
    font-size: 11pt;
  }
}

@media screen and (max-width: 900px) {
  #terminal #container {
    margin-right: 0;
  }
}
